.bg-login-image {
	background-image: url(../images/login.png) !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-origin: content-box !important;
}

.parsley-errors-list {
	color: #F00;
	margin-left: -10px;
}

.card-body h3 {
	font-size: 1.2em;
	font-weight: bold;
}

thead {
	background: #F9f9f9;
	font-weight: bold;
}

label {
	margin-top: 10px;
}

iframe {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px 0;
}

form .btn-success {
	margin-top: 20px;
}